@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Itim&family=Open+Sans:wght@300&family=Poppins&display=swap');

* {
    box-sizing: border-box;
  }
   html{
 
   }
  
  body {
    margin: 0 auto;
    font-family: 'Poppins';
    color: black;
 
    
  
  }
  

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  

  .inicio
  {
    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    
  
  }
  
  .imageLeft {
    width: 40%;
    height: auto;
    
    
  }
  
  .title {
    width: 60%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
   
    background-color: #FFFAEE;
    margin-top: 0;
  }

  
  .icon {
    position: absolute;  
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 1%;
    width: calc(125px * 2);
    height: calc(30px * 2);
   

  }
  
  #twoButtons
  {
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 10%;
    margin-bottom: 0;
  }

  
  #fazerDownload
  {
    background-color:#FFFAEE;
    color: #000000;
    border: none;
    border-radius: 2px;
    font-size: 0.35em;
    padding: 1% 5% 1% 5%;
    font-family: 'Poppins';
    cursor:pointer;
   
  }
  #fazerDownload:hover
  {
    text-decoration: underline;
  }


  #saibaMais
  {
    background-color: #BD6B57;
    color: #FFFAEE;
    border: solid #BD6B57 ;
    border-radius: 2px;
    font-size: 0.35em;
    padding: 1% 5% 1% 5%;
    font-family: 'Poppins';
    cursor:pointer;
  }
  #saibaMais:hover
  {
    border: solid #c42a04 ;
    background-color: #c42a04 ;
    font-size: 0.36em;
  }


  #saboresConectam
  {
    width: 50%;
    padding-bottom: 10px;
   
    
  }

  #textChanger
  {
    margin-top: 0;
    font-family: 'Itim';
    font-size: 2em;
  
    margin-bottom: 0;
  }

  #frontMessage
  {
   
    display: inline-flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    
  }

  #H1pag2
  {
    padding: 2%;
    font-weight: bold;
   
  }

  #imageSecondPage{
    padding-top: 1%;
   
    
  }

 
  #textPag2
  {
    
    font-size: 1.75em;
    align-items: center;
    font-weight: lighter;
    margin: 10%;
    margin-top: 20%;
  }

  #DoisCelulares{
    max-width: 45%;
    margin-left: 5rem;
  }

  #EmBreve
  {
    margin-right: 15%;
   
    margin-top: 15%;
    margin-bottom: 15%;
    
  }

 #icons{
  display: flex;
  justify-content: space-around;
 
  align-items: center;
 }

 #H1pag2center{
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  margin-top: 3rem;
  justify-content: center;
 }

 .custom-shape-divider-bottom-1684103113 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684103113 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 167px;
}

.custom-shape-divider-bottom-1684103113 .shape-fill {
  fill: #FF2929;
}