@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans:wght@300&family=Poppins&display=swap');



* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    font-family: 'Poppins';
    color: black;
    background-color: rgb(255, 255, 255);
  }
  

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  

  .inicio
  {
    border: 2px solid red;

    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    border: solid 1px red;
  
  }
  
  .imageLeft {
    width: 40%;
    height: auto;
    border: solid 1px;
  }
  
  .title {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    border: solid 1px blue;
    background-color: #FFFAEE;
    
  }

  .icon {
    position: absolute;  
    top: 0;
    right: 0;
    margin-right: 5%;
    margin-top: 1%;
    width: 125px;
    height: 30px;
    border: solid 1px;

  }
  
  #twoButtons
  {
    border: solid 1px yellow;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 10%;
  }

  
  #fazerDownload
  {
    background-color:#FFFAEE;
    color: #000000;
    border: none;
    border-radius: 2px;
    font-size: 0.25em;
    padding: 1% 5% 1% 5%;
    font-family: 'Poppins';
    cursor:pointer;
   
  }


  #saibaMais
  {
    background-color: #BD6B57;
    color: #FFFAEE;
    border: solid #BD6B57 ;
    border-radius: 2px;
    font-size: 0.25em;
    padding: 1% 5% 1% 5%;
    font-family: 'Poppins';
    cursor:pointer;
  }
  #saibaMais:hover
  {
    background-color: #db927f;
    border: solid  #db927f;
    
  }